.btn {
	&-reg {
		width: 157px;
		height: 55px;
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 55px;
		color: #4e5983;
		text-decoration: none;
		background-color: rgb(161, 127, 255, 0.11);
		border-radius: 9px;
		&:hover {
			color: #4e5983;
		}
		@media (max-width: 992px) {
			height: 0;
			font-weight: 400;
			font-size: 20px;
			line-height: 19px;
			color: #ffffff;
			background: none;
			&:hover {
				color: #ffffff;
			}
		}
	}
	&-submit {
		width: 157px;
		height: 55px;
		border: none;
		border-radius: 9px;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #ffffff;
		background: linear-gradient(
			140.59deg,
			rgba(86, 46, 194, 0.8) 29.59%,
			rgba(160, 126, 254, 0.8) 73.59%
		);
		box-shadow: 0 16px 20px -16px rgba(86, 46, 194, 0.5);
		&:hover {
			color: #ffffff;
		}
		@media (max-width: 992px) {
			width: 140px;
		}
	}
	&-rotate {
		border: none;
		background-color: rgba(255, 255, 255, 0);
	}
}
