.dd-select {
	border: none !important;
	// border-bottom: solid 2px rgba(214, 220, 226, 0.25) !important;
	// border-bottom: 1px solid #000 !important;
}

.dd-selected-text {
	font-style: normal;
	font-weight: 300 !important;
	font-size: 16px !important;
	line-height: 35px !important;
	color: #4e5983 !important;
}

.dd-selected-image {
	margin-right: 18px !important;
}
