.hero {
	position: relative;
	min-height: 755px;
	padding-top: 114px;
	background: url('../images/Promo-bg.jpg') center (center/cover) no-repeat;
	&__title {
		font-weight: bold;
		font-size: 60px;
		line-height: 67px;
		text-align: center;
		color: #ffffff;
		@media (max-width: 1400px) {
			font-size: 46px;
		}
		@media (max-width: 1200px) {
			font-size: 44px;
		}
	}
	&__subtitle {
		margin-top: 94px;
		font-weight: normal;
		font-size: 19px;
		line-height: 23px;
		color: #ffffff;
		text-align: center;
	}
	&__change-block {
		max-width: 1109px;
		margin: 56px auto 0;
		padding: 76px 85px 76px 103px;
		background-color: rgba(255, 255, 255, 0.8);
		border: 4px solid #f7f8fd;
		border-radius: 26px;
		@media (max-width: 992px) {
			padding-left: 53px;
			padding-right: 43px;
		}
	}
	&__band-1,
	&__band-2 {
		background-color: #ffffff;
		opacity: 0.2;
		border: 4px solid #f7f8fd;
		border-radius: 0px 0px 26px 26px;
	}
	&__band-1 {
		width: 1038px;
		height: 19px;
		margin: 0 auto;
		// @media (max-width: 1200px) {
		// 	width: 885px;
		// }
	}
	&__band-2 {
		position: absolute;
		width: 933px;
		height: 38px;
		top: 640px;
		left: 50%;
		transform: translate(-50%);
		@media (max-width: 1200px) {
			width: 757px;
		}
	}
	&__form {
		display: grid;
		grid-template-areas:
			'title-1 title-1 title-1 title-2 title-2 title-2'
			'label-1 label-1 label-1 label-2 label-2 label-2'
			'input-1 select-1 button-1 input-2 select-2 button-2';
		grid-template-columns: minmax(100px, 171px) 116px minmax(55px, 111px) minmax(100px, 171px) 116px minmax(
				180px,
				232px
			);
		grid-template-rows: 56px 17px 55px;
		position: relative;
		&-title {
			grid-area: title-1;
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			color: #4e5983;
			span {
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
				color: #4e5983;
				margin-left: 15px;
				opacity: 0.5;
			}
			// @media (max-width: 992px) {
			// 	font-size: 16px;
			// }
		}
		&-title ~ &-title {
			grid-area: title-2;
		}
		label {
			grid-area: label-1;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			color: rgba(78, 89, 131, 0.5);
		}
		label ~ label {
			grid-area: label-2;
		}
		input {
			grid-area: input-1;
			border: none;
			border-bottom: solid 2px rgba(214, 220, 226, 0.25);
			background-color: rgba(255, 255, 255, 0);
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.015em;
			color: #094067;
			&:focus {
				outline: none;
			}
			&::placeholder {
				color: rgba(78, 89, 131, 0.5);
				font-size: 20px;
			}
		}
		input ~ input {
			grid-area: input-2;
		}
		select {
			grid-area: select-1;
		}
		select ~ select {
			grid-area: select-2;
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: 25px;
			background-color: #cfd4da;
			top: 88px;
		}
		&::before {
			left: 174px;
		}
		&::after {
			left: 574px;
			@media (max-width: 1200px) {
				left: 530px;
			}
		}
		// @media (max-width: 1200px) {
		// 	grid-template-columns: 171px 116px 67px 171px 116px 197px;
		// }
		// @media (max-width: 992px) {
		// 	grid-template-columns: 100px 116px 67px 100px 116px 180px;
		// }
	}
	&__submit {
		grid-area: button-2;
		justify-self: end;
	}
	&__rotate {
		grid-area: button-1;
	}
}
